<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Aplicación Pagos Curos Virtuales</title>
</head>
<body>
    <header>
        {% block encabezado %}{% endblock %}
        <nav>
            <ul id="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/usuarios">Usuarios Registrados</a></li>
            </ul>
        </nav>
    </header>
    <section class="contenido">
        {% block contenido %}
        {% endblock %}
    </section>
    <footer>
        <p>Aplicación para registro de participantes que desean el certificado físico</p>
    </footer>
</body>
</html>